# FBA Quant FD Session HW4

## Woohyuk Choi

In [1]:
# Import

import time
import numpy as np
import scipy
from scipy.stats import norm
import matplotlib.pyplot as plt
import pandas as pd
import math as math
from tabulate import tabulate

## Problem 1

***
Assume that the spot-rate curve is flat at $6$%. A portfolio contains three
zero-coupon bonds each having face value $1,000,000. The maturities of the bonds are
2,5,and 10years.
***

### Solution For 1 - (a)

Find the DV01 and duration of the portfolio of bonds.

Price of a bond = 
$$P = \frac c 2 \sum_{i=1}^{2T} ( \frac 1 {1+\frac y 2})^i + \frac {1000000} {(1+\frac y 2)^{2T}}$$

where $c = 1000000 \times 0.06 = 60000$ , $T = 2 , 5 , 10$ each.

In [30]:
def sum(T):
    ret = 0
    for n in range(1,2*T+1):
        ret += 30000/((1+0.03)**n)
    
    ret += 1000000/((1+0.03)**(2*T))

    return ret
    



P = sum(2) + sum(5) + sum(10)

P

2999999.999999999

In [31]:
def sum001(T):
    ret = 0
    for n in range(1,2*T+1):
        ret += 30000/((1+0.030005)**n)
    
    ret += 1000000/((1+0.030005)**(2*T))

    return ret

P001 = sum001(2)+sum001(5)+sum001(10)

P001

2999864.3808686445

In [32]:
DV01 = (P - P001) / 1

DV01

135.6191313546151

In [33]:
B1 = sum(2)
B2 = sum(5)
B3 = sum(10)

def A(T):
    ret = 0
    for n in range(1,2*T+1):
        ret += 30000*n/((1+0.03)**n)
    
    ret += 1000000*T/((1+0.03)**(2*T))

    return ret

A1 = A(2)
A2 = A(5)
A3 = A(10)

duration1 = A1/B1
duration2 = A2/B2
duration3 = A3/B3

presentvalue1 = 1000000 * math.exp(-0.06 * 2)
presentvalue2 = 1000000 * math.exp(-0.06 * 5)
presentvalue3 = 1000000 * math.exp(-0.06 * 10)

w1 = presentvalue1/(presentvalue1+presentvalue2+presentvalue3)
w2 = presentvalue2/(presentvalue1+presentvalue2+presentvalue3)
w3 = presentvalue3/(presentvalue1+presentvalue2+presentvalue3)

pduration = w1*duration1 + w2*duration2 + w3*duration3

data = {'name': ['duration 1','duration 2','duration 3', 'portfolio duration'] , 'value' :[duration1, duration2, duration3 , pduration]}

df = pd.DataFrame(data, index = np.arange(4))

df

                 name   value
0          duration 1 2.05164
1          duration 2 5.06564
2          duration 3 9.78704
3  portfolio duration 5.02796

### Solution For 1 -(b)

Suppose that you are asked to purchase a single par-coupon bond will match
the DV01 of the portfolio of zero-coupon bonds. What should the face value of
the par-coupon bond be?

### Solution For 1 - (c)

Suppose that the 2 year spot rate increases by 50 basis points, the 5-year rate
increases by 42 basis points and the 10-year spot rate increases by 38 basis
points. Compute the exact price change of the bond portfolio.

In [34]:
def sum2yr(T):
    ret = 0
    for n in range(1,2*T+1):
        ret += 30000/((1+0.03)**n)
    
    ret += 1000250/((1+0.03025)**(2*T))

    return ret

def sum5yr(T):
    ret = 0
    for n in range(1,2*T+1):
        if n == 4 :
            ret += 30000/((1+0.03025)**n)
        else : 
            ret += 30000/((1+0.03)**n)
            
    
    ret += 1000210/((1+0.03021)**(2*T))

    return ret

def sum10yr(T):
    ret = 0
    for n in range(1,2*T+1):
        if n == 4 :
            ret += 30000/((1+0.03025)**n)
        elif n == 10 :
            ret += 30000/((1+0.03021)**n)
        else : 
            ret += 30000/((1+0.03)**n)
            
    
    ret += 1000190/((1+0.03019)**(2*T))

    return ret

sum = sum2yr(2) + sum5yr(5) + sum10yr(10)

pd.options.display.float_format = '{:.5f}'.format 

data = {'name': ['price1','price2','pricechange'] , 'value' :[P, sum, P-sum]}

df = pd.DataFrame(data, index = np.arange(3))

df

          name         value
0       price1 3000000.00000
1       price2 2995969.26547
2  pricechange    4030.73453

### Solution For 1 - (d)

What parallel shift in the yield curve would explain the price change in part (c)?

### Problem 2

Assume that the spot-rate curve is flat at 6%. Consider a portfolio consisting
of two par-coupon bonds. (Recall that if the spot-rate curve is flat, then the par-coupon
yield curve is also flat at the same value.)

‚óè Bond #1 has face value $20,000 and maturity 5 years.

‚óè Bond #2 has face value $10,000 and maturity 30 years.

### Solution For 2 - (a)

Find the duration and DV01 for Bond #1 and Bond #2.

In [2]:
def sum1(T):
    ret = 0

    ret += 20000/((1+0.03)**(2*T))

    return ret

def sum2(T):
    ret = 0
    
    ret += 10000/((1+0.03)**(2*T))

    return ret

def sum1_001(T):
    ret = 0

    ret += 20000/((1+0.030005)**(2*T))

    return ret

def sum2_001(T):
    ret = 0

    ret += 10000/((1+0.030005)**(2*T))

    return ret

pricebond1 = sum1(5)
pricebond2 = sum2(30)
pricep =  pricebond1 + pricebond2

pricebond1_001 = sum1_001(5)
pricebond2_001 = sum2_001(30)
pricep_001 = pricebond1_001 + pricebond2_001

data = {'name': ['DV01_1','DV01_2','DV01_Port'] , 'value' :[pricebond1-pricebond1_001 , pricebond2-pricebond2_001, pricep-pricep_001]}

df = pd.DataFrame(data, index = np.arange(3))

df

        name     value
0     DV01_1  0.722402
1     DV01_2  0.494295
2  DV01_Port  1.216697

### Solution For 2 - (b)

 It is desired to purchase a single zero-coupon having the same price and the
same DV01 as the portfolio of par-coupon bonds. 

Find the maturity T of such a bond. (You many assume that zeros of all maturities are available and that
discount factors for all maturities are given by $ùëë(ùë°)$ = (1.03) ) 

If you could not $‚àí2ùë°$ do part (a), 

you may express $T$ in terms of the DV01 of the portfolio of
par-coupon bonds.

### Solution 2 - (c)

What parallel shift in the spot rate curve would explain a price decrease of
$212.73 in the portfolio?

(Use a first-order approximation. Be sure to specify a
direction as well as a magnitude of the shift)

In [36]:
def conv1(T):
    ret = 0
    for n in range(1,2*T+1):
        ret += (1/((20000)*(1+0.06)**2))* ((20000*0.03)/((1+0.03)**n))*(n**2 + n)

    ret += (1/((20000)*(1+0.06)**2))* ((20000)/((1+0.03)**n))*(n**2 + n)

    return ret

def conv2(T):
    ret = 0
    for n in range(1,2*T+1):
        ret += (1/((10000)*(1+0.06)**2))* ((10000*0.03)/((1+0.03)**n))*(n**2 + n)

    ret += (1/((10000)*(1+0.06)**2))* ((10000)/((1+0.03)**n))*(n**2 + n)

    return ret

convexity1 = conv1(5)
convexity2 = conv2(30)

prvalue1 = 20000 * math.exp(-0.06 * 5)
prvalue2 = 10000 * math.exp(-0.06 * 30)

weight1 = prvalue1 / (prvalue1+prvalue2)
weight2 = prvalue2 / (prvalue1+prvalue2)

convexity = weight1 * convexity1 + weight2 * convexity2

data = {'name': ['convexity1','convexity2','convexity'] , 'value' :[convexity1, convexity2, convexity]}

df = pd.DataFrame(data, index = np.arange(3))

df

         name      value
0  convexity1   82.20748
1  convexity2 1119.70455
2   convexity  186.33853

$$P(r) \approx P(0.06) + \frac {dP}{dy} (r - 0.06) + \frac 1 2 \frac {d^2 P}{dy^2} (r - 0.06)^2$$

By using wolfram alpha, r = 0.0695116, then increase 0.95116%

## Problem 3

Consider a zero-coupon bond with face value 10,000 and maturity 10
years. 

Assume that $\hat{r}(10) = 0.048736$.

### Solution For 3 - (a)

Compute the convexity of the bond.

In [27]:
def conv3(T):
    ret = 0
    for n in range(1,2*T+1):
        ret += (1/((10000)*(1+0.048736/2)**2))* ((10000*0.048736/2)/((1+0.048736/2)**n))*(n**2 + n)

    ret += (1/((10000)*(1+0.048736/2)**2))* ((10000)/((1+0.048736/2)**n))*(n**2 + n)

    return ret

conv3(10)

297.0841343105586

In [43]:
def sum4(T):
    ret = 0
    for n in range(1,2*T+1):
        ret += (10000*(0.048736/2))/((1+(0.048736/2))**n)
    
    ret += 10000/((1+0.048736/2)**(2*T))

    return ret

def sum4_001(T):
    ret = 0
    for n in range(1,2*T+1):
        ret += (10000* (0.048746/2))/((1+(0.048746/2))**n)
    
    ret += 10000/((1+(0.048746/2))**(2*T))

    return ret

dv01_4 = sum4_001(10) - sum4(10)

sum4(10), sum4(10)*0.0035 , dv01_4

(10000.000000000007, 35.00000000000003, -3.637978807091713e-12)

$$ 35 = \frac {dP} {dy} (r - 0.048736) + \frac 1 2 \frac {d^2 P} {dy^2} (r-0.048736)^2 $$